/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end of reset code*/
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Cormorant Medium'), local('Cormorant-Medium'), url(https://fonts.gstatic.com/s/cormorant/v7/H4cgBXOCl9bbnla_nHIiHLiohYa2.ttf) format('truetype');
}
@import "../../BUILDWEEK_UI/LESS/mixins.less";
html {
  font-size: 62.5%;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.4rem;
}
header {
  border: 1px solid black;
  width: 100%;
}
header .menuBTN {
  background-color: #333333;
  height: 4%;
}
header ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.7rem;
}
header ul a {
  text-decoration: none;
  color: black;
}
.main {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.leftNavBar {
  display: none;
  background-color: gainsboro;
  height: 100%;
  width: 190px;
  border: 1px solid black;
}
.leftNavBar li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  margin: 15px 0px;
  font-size: 1.7rem;
  font-family: 'Cormorant', serif;
}
.leftNavBar li:hover {
  font-size: 2rem;
  background-color: #c3c3c3;
  border-radius: 20px;
  cursor: pointer;
}
.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mainContent .content {
  display: flex;
  width: 100%;
  height: 30%;
}
.mainContent .category {
  margin: 40px;
}
.mainContent .category .state {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mainContent .category .state .tab {
  padding: 5px;
  font-size: 1.4rem;
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid black;
}
.mainContent .contentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0px;
}
.mainContent .empHolder {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  display: none;
}
.mainContent .empHolder img {
  height: 90%;
}
.mainContent .empHolder h2 {
  margin: 0% 0% 5% 20%;
}
.mainContent .empHolder h3 {
  font-size: 2rem;
  margin: 0px 0px 2% 1%;
}
.mainContent .empHolder p {
  padding: 10px;
}
.SCP,
.JCP,
.CP {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SCP .left-button,
.JCP .left-button,
.CP .left-button,
.SCP .right-button,
.JCP .right-button,
.CP .right-button {
  height: 50px;
  width: 50px;
  transition: 0.1s;
  float: left;
  box-shadow: -2px 2px 0 #1a1a1a;
  cursor: pointer;
}
.SCP .left-button,
.JCP .left-button,
.CP .left-button {
  transform: rotate(45deg);
}
.SCP .right-button,
.JCP .right-button,
.CP .right-button {
  transform: rotate(225deg);
}
.show {
  display: block;
}
