/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end of reset code*/
@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'), url(https://fonts.gstatic.com/s/majormonodisplay/v2/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7DXeU.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v23/TK3_WkUHHAIjg75cFRf3bXL8LICs13FvsUZiYA.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
header {
  border-bottom: 1px solid black;
}
header .homeNav {
  background-color: 'Oswald', sans-serif;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .homeNav .menuBtn {
  height: 90%;
  background-color: gray
            ;
}
.menu {
  background-color: white;
  width: 100%;
}
.menu ul {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  height: 25px;
  font-size: 1.8rem;
}
.menu ul a {
  text-decoration: none;
  color: black;
}
.leftNavBar {
  display: none;
  background-color: white;
  height: 1000px;
  width: 190px;
  border: 1px solid black;
}
.leftNavBar li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  margin: 15px 0px;
  font-size: 1.7rem;
  font-family: 'Cormorant', serif;
}
.leftNavBar li:hover {
  font-size: 2rem;
  background-color: #c3c3c3;
  border-radius: 20px;
  cursor: pointer;
}
.container {
  display: flex;
}
.container .hHover:hover {
  font-family: 'Major Mono Display', monospace;
  font-size: 3.5rem;
}
.container h1 {
  font-size: 3.7rem;
  font-family: 'Oswald', sans-serif;
}
.container h2 {
  font-size: 3.5rem;
  font-family: 'Oswald', sans-serif;
}
.container h3 {
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
}
.container .left-side {
  height: 100%;
  width: 50%;
  border-right: 2px solid black;
}
.container .left-side .lTextCon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 50px;
  height: 300px;
}
.container .left-side .intro {
  height: 626px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .left-side .lCon2 {
  height: 733px;
  margin-top: 100px;
}
.container .left-side .lCon3 {
  margin-top: 70px;
  height: 500px;
}
.container .left-side .lCon5 {
  height: 660px;
}
.container .left-side .lCon5 .con5Container {
  display: flex;
  flex-direction: column;
}
.container .left-side .lCon5 .con5Container h3 {
  display: flex;
  justify-content: flex-end;
}
.container .left-side .lCon5 .con5Container p {
  padding: 35px 0px 0px 442px;
  font-size: 1.5rem;
  line-height: 2;
}
.container .left-side .lCon6 {
  height: 685px;
  padding-top: 45px;
}
.container .left-side .lCon6 .con6Container {
  display: flex;
  flex-direction: column;
}
.container .left-side .lCon6 .con6Container h3 {
  display: flex;
  justify-content: flex-end;
}
.container .left-side .lCon6 .con6Container p {
  padding: 35px 0px 0px 442px;
  font-size: 1.5rem;
  line-height: 2;
}
.container .left-side .lCon7 {
  padding-top: 75px;
}
.container .right-side {
  height: 100%;
  width: 50%;
}
.container .right-side .rTextCon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  padding: 50px;
  word-spacing: 5px;
  line-height: 1.5;
}
.container .right-side .intro-Img {
  max-width: 100%;
}
.container .right-side .rCon2 {
  margin-top: 105px;
  height: 300px;
}
.container .right-side img {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
}
.container .right-side .rCon3 {
  margin-top: 100px;
}
.container .right-side .rCon3 ul {
  margin-top: 50px;
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  font-size: 2rem;
  padding-right: 90px;
}
.container .right-side .rCon3 ul li {
  display: flex;
  width: 120px;
  height: 60px;
}
.container .right-side .rCon3 ul li .icon {
  height: 40px;
}
.container .right-side .imgContainer {
  margin-top: 300px;
  max-width: 90%;
  margin: 190px auto 0px;
}
.container .right-side .imgContainer img {
  padding: 20px;
}
.container .right-side .imgContainer .computers {
  width: 50%;
}
.container .right-side .rCon5 {
  display: flex;
  flex-direction: column;
}
.container .right-side .rCon5 .btnContainer {
  display: flex;
}
.button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  margin: 15px 10px 0px;
  font-size: 1.5rem;
}
.show {
  display: block;
}
