/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
//add-ons to file
@import "mixins.less";



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of reset code*/

body {
	box-sizing: border-box;
	min-width: 300px;
		margin: 0;
}


//Homepage -------------->

.homeContainer {
background-color: gray;

	
}
//---------> Images
.mySlides {
	display: none;
	
}




//-----------> Intro section
section {
	display: flex;

	.slideshow-container {
		width: 55%;
		display: block;
		position: relative;
		height: 100%;
	}
	.halfPage {
 justify-content: flex-end;
 width: 38%;
 height: 41rem;
 padding-right: 150px;
 background-color: #eaf4fc;
 height: 50rem;
 
 
		
	}
	.homePageh1 {
		color: @text;
		font-family: @markerFont;
		font-size: 5rem;
		position: relative;
		bottom: 2rem;
		left: 5rem;
		
		padding-top: 6.5rem;
		  }
		  
	
}

//Homepage textBoxes--------->

.textBox {
	font-family: @font;
  
  position: relative;
	left:  5rem;

}
.bold {
	font-weight: bold !important;
	
}

 //Homepage Animations--------->
.homeAnimation1 {
	animation-name: fading;
		animation-duration: 1s;
		@keyframes fading {
			from { opacity: 0;
			  color: white;
			}
			to { opacity: 1;
			  color: @CESBlue;
			}
			}
}


.fader {

	animation-name: fade2;
		animation-duration: 2s;
		@keyframes fade2 {
			from { opacity: 0;
			  color: whitesmoke;
			}
			to { opacity: 1;
			  color: @text;;
			}
			}
}
.slider {
	
	animation-name: slide;
	animation-duration: 1s;
	
	@keyframes slide {
		from {
			margin-left: 10%;
			width: -150%; 
		}
		
		to {
			margin-left: 0%;
			width: 100%;
		}
		}
} 
//Image carousel fade---------->

.fade {
	animation-name: fade;
	animation-duration: 1.8s;
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
//-----------> menu
.menu1 {
	display: none;
	background-color: gray;
	width: 100%;
	ul {
		.placement(space-evenly);
		display: flex;
		height: 25px;
		font-size: 1.8rem !important;
		font-family: @font;
		color: @text;
	}
}

.show {
	display: block;
}

