/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
//add-ons to file
@import "mixins.less";
@Rubik: 'Rubik Mono One', sans-serif;
@Mont: 'Montserrat', sans-serif;
@black: 	#434c56;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of reset code*/








//------------Homepage Styling-->
.homeContainer {
    width: 100%;
    background-color: gray;
    background:linear-gradient(	#eaf4fc, slategray);
    height: 53rem;
    }
    

     .intro {
         display: flex;
         justify-content: flex-start;
         
         height: 38.5rem;
         .mySlides {
             display: none;
         }
         
         .halfPage {
             
             height: 41rem;
             padding-top: 3.5rem;
             padding-left: 50px;
         }
    
        }

        .slideshow-container {
            
            display: block;
						height: 50%;
					
        }
        .homePageh1 {
            
            font-family: @Rubik;
            font-size: 3rem;
            
              }
    
    
     h1 {
         display: flex;
         justify-content: flex-start;
         align-content: flex-start;
         padding-bottom: 3rem;
     }
    
    .textBox {
        //display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        font-family: @Mont;
        font-size: .9rem;
       padding-bottom: 40px;
    }
   
    //header nav
    
    .homeNav1 {
			
        width: 80%;
        padding-bottom: 2rem;
       //position: relative;
       bottom: 35px;
    
       margin: 0 auto;
        
        ul {
            display: flex;
            justify-content: space-around;
            height: 25px;
            font-size: .9rem !important;
            color: black;
            font-family: @Mont;
    
            a {
                text-decoration: none;
                color: black;
            }
        }
		}
		.menu1 {
			display: none;
		}
    // learn more paragraphs
    .textBox2 {
        display: none;
        color: black;
        font-size: .9rem;
        width: 450px;
        border-top: 4px solid #eaf4fc;
        border-bottom: 4px solid #eaf4fc;
        padding-top: 40px;
        padding-bottom: 40px;
        font-family: @Mont;
    }
    .show {
        display: block;
    }
    //pointer cursor for links and buttons
    .cursor {
        cursor: pointer;
    } 

// hompage animations
   
.homeAnimation1 {
	animation-name: fade;
		animation-duration: 1s;
		@keyframes fade {
			from { opacity: 0;
			  color: white;
			}
			to { opacity: 1;
			  color: @CESBlue;
			}
			}
}


.fader {

	animation-name: fade2;
		animation-duration: 2s;
		@keyframes fade2 {
			from { opacity: 0;
			  color: whitesmoke;
			}
			to { opacity: 1;
			  color: black;
			}
			}
}
.slider {

	animation-name: slide;
	animation-duration: 1s;

	@keyframes slide {
		from {
			margin-left: 10%;
			width: 300%; 
		}

		to {
			margin-left: 0%;
			width: 100%;
		}
        }
    }

    .show2 {
        visibility: visible;
    }
    
				
      
        .navClass2 {
					
					width: 100%;
					height: 7.5rem;
            display: flex;
            justify-content: flex-start;
						align-items: center;
						
            img {
            width: 40px;
            height: 40px;
            padding-top: 30px;
            padding-left: 25px;
            padding-right: 25px;
            }
				}
				.bottomDiv {

					position: absolute;
					top: 615px;
					left: 900px;
				}
			
    //}
    //--end of Homepage Styling ----->

    //Reviews Page Styling------------>
    .reviewContainer {
      
    background:linear-gradient(	#eaf4fc, slategray);
   
    
    height: 90rem;

    }
    /*.midContent {
      display: flex;
      justify-content: flex-start;
    }*/
   
 

    .reviewsh1 {
    display: flex;
    justify-content: center;
      font-family: @Mont;
      font-size: 3rem;
      
     
    }

    .reviewMan {
      display: block;
     opacity: .8;
      margin: 0 auto;
      padding-bottom: 2rem;
    }
.reviewsHeader {
  height: 4rem;
  width: 80%;
margin: 0 auto;
border-bottom: 3px solid #eaf4fc; 
padding-bottom: 1rem;
}
    .opacity {
      opacity: .5;
    }

    //----------component
    .topics {
    display: table;
  padding-top: 1rem;
  width: 10%;
  height: 47px;
  margin: 0 auto;
  
  .tab {
  
    font-family: @Mont;
    cursor: pointer;
    font-size: 1rem;
  }
    }

    .active-tab {
      opacity: .5;
      
    }
    .cards-container {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 0 auto;
      p {
        padding-left: 10px;
       font-family: @Mont;
       font-size: .9rem;
      }
    }
    .card {
      width: 240px;
      height: 175px;
      
     
padding: 25px 25px 25px 25px;
    }

    .reviewNav2 {
      position: absolute;
      top: 78rem;
      width: 80%;
      .navClass2 {
display: flex;
justify-content: center;
      }

    }
    .credit {
      font-size: .8rem;
      font-family: @Mont;
      position: absolute;
      top: 85rem;
    }

    .bars {
      position: relative;
      left: 750px;
      bottom: 90px;
      width: 90px;
      height: 90px;
    }
    .reviewimg {
      border-radius: 50%;
      border: 2px solid slategray;
    
    }


//-----PAGE ONE Tablet media query 800px-->
@media (max-width: 800px) {
  body {
    overflow-X: hidden;
  }
  .homeContainer {
    height: 56rem;
    
   
  }
  .slideshow-container  {
    display: none;

  }

    ul {
      
      padding-top: 3rem;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    li {
      
      padding-bottom: 1rem;
       font-size: 1.3rem;
      }
      .slider {
        animation-name: none;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 8.5rem;
        
      }.homePageh1 {
        text-align: center;
        margin: 0 auto;
      
      }
      .textBox2 {
        display: block;
        padding-top: 10px;
      }
   
  .bottomDiv {
    position: relative;
    margin: 0 auto;
    display: block;
    
    top: 35rem;
    left: -17rem;
    height: 5rem;
  }
  }
//-----PAGE ONE MOBILE MEDIA QUERY 500px--->
@media (max-width: 500px) {
.slider {
 position: relative;
 left: -1rem;
 
}
.bottomDiv {
  position: relative;
  left: -26rem;
}
}

//------PAGE TWO TABLET MEDIA QUERY---->
@media (max-width: 800px) {
  .reviewMan {
    display: none;
  }
  .reviewsHeader {
    padding-top: 5rem;
  }
  .bars {
    display: none;
  }
}

//------PAGE TWO TABLET Mobile QUERY---->
@media (max-width: 500px) {
  .reviewContainer {
    height: 113rem;
  }
  .reviewNav2 {
    position: relative;
    top: 3rem;
  }
  .credit {
    position: relative;
    top: 3rem;
  }
}