// Colors
@CESBlue:#3776ab;
@text: #050A1D; //possible text color

//Fonts
@font:'Open Sans', sans-serif; //Regular body font
@markerFont: 'Permanent Marker', cursive; //h1 homepage font
.placement(@just:center, @alig:center){
    display:flex;
    align-items:@alig;
    justify-content:@just;
}

